[submodule "janus/vim-airline"]
	path = janus/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "janus/vim-grammarous"]
	path = janus/vim-grammarous
	url = https://github.com/rhysd/vim-grammarous.git
[submodule "janus/vim-latex"]
	path = janus/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
[submodule "janus/python-mode"]
	path = janus/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "janus/ScrollColors"]
	path = janus/ScrollColors
	url = https://github.com/vim-scripts/ScrollColors.git
